body {
    margin: 0;
    background-color: green;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}
img {
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: opacity 1s;
}
.show {
    opacity: 1;
}